<div class="row clickable" onclick="<%= if @alias == "guardian"
                                          link_to_add_waiver_fields(volunteer, true)
                                        else
                                          link_to_add_workday_volunteer_fields(volunteer, session[:workday_id])
                                        end %>" >
  <li>
    <div class="col-md-3 col-md-offset-1">
      <%= volunteer.first_name + " " + volunteer.last_name %>
    </div>
    <div class="col-md-2 no-overflow">
      <%= volunteer.city %>
    </div>
    <div class="col-md-2 no-overflow">
      <%= volunteer.email %>
    </div>
    <div class="col-md-3">
      <%= volunteer.home_phone.presence || volunteer.mobile_phone.presence || volunteer.work_phone.presence %>
    </div>
  </li>
</div>
