<%= form_for(@volunteer, id: "dialogFormNewVolunteer", remote: true) do |f| %>
    <%= @object = f.object
        render 'shared/error_messages' %>

    <div class="container">
      <div class="row">
        <div class="col-md-5">

          <div class="row">
            <div class="col-md-2">
              <%= f.label :first_name %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :last_name %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :email %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :home_phone %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :home_phone, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :city %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :city, class: 'form-control' %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <% f.hidden_field :dialog, "true" %>

<% end %>
