<%= form_for(@volunteer) do |f| %>
    <%= @object = f.object
        render 'shared/error_messages' %>
    <% if @num_workdays.count > 0 %>
        <h5 class="center">Has participated in <a href="#" data-id="<%= @volunteer.id %>" data-object-name="volunteer" id="linkWorkdaySummary"><%= pluralize(@num_workdays.count, "workday") %> for <%= pluralize(@num_workdays.sum("hours"), "hour") %></a></h5>
        <div id="dialogWorkdaySummary"></div>
        <div id="dialogParticipantReport"></div>
    <% else %>
        <h5 class="center">Has not participated in any workdays</h5>
    <% end %>
    <% if current_user.monetary %>
        <% if !@donation_year.nil? %>
            <h5 class="center">Household has <a href="#" data-id="<%= @volunteer.id %>" data-object-name="volunteer" id="linkDonationSummary"> donated monetarily </a></h5>
            <div id="dialogDonationSummary"></div>
        <% else %>
            <h5 class="center">Household has not donated monetarily</h5>
        <% end %>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">

          <div class="row">
            <div class="col-md-2">
              <%= f.label :first_name %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :first_name, class: 'form-control', autofocus: 'true' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :middle_name %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :middle_name, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :last_name %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :email %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :address %><br>
              <%= link_to "(check)", "#", id:"linkAddressCheck" %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :address, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :city %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :city, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :state %><br>
            </div>
            <div class="col-md-2">
              <%= f.text_field :state, class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= f.label :zip %><br>
            </div>
            <div class="col-md-4">
              <%= f.text_field :zip, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :waiver_signed %><br>
            </div>
            <div class="col-md-4">
              <%= f.text_field :waiver_date,  value: @volunteer.waiver_date.nil? ? "" : @volunteer.waiver_date.strftime("%m/%d/%Y") , id: 'waiverdatepicker', class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label "Birthdate (for waivers)" %><br>
            </div>
            <div class="col-md-4">
              <%= f.text_field :birthdate,  value: @volunteer.birthdate.nil? ? "" : @volunteer.birthdate.strftime("%m/%d/%Y") , id: 'birthdatepicker', class: 'form-control' %>
            </div>
            <div class="col-md-4">
              <label>
                <%= f.check_box :adult %> Adult <br/> (for waivers)
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :first_contact %><br>
            </div>
            <div class="col-md-4">
              <%= f.text_field :first_contact_date,  value: @volunteer.first_contact_date.nil? ? "" : @volunteer.first_contact_date.strftime("%m/%d/%Y") , id: 'firstcontactdatepicker', class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :first_contact_type %><br>
            </div>
            <div class="col-md-8">
              <%= f.select :first_contact_type_id, options_from_collection_for_select(ContactType.where(inactive: false), :id, :name, f.object.first_contact_type_id), {:include_blank => "None"}, { :multiple => false, class: "form-control"}  %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :emerg_contact_name, "Emergency contact" %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :emerg_contact_name,  class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :emerg_contact_phone, "Emergency contact phone" %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :emerg_contact_phone, class: 'form-control' %>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col-md-10">
              <div class="checkbox">
                <label>
                  <%= f.check_box :remove_from_mailing_list %> Remove from mailing list
                </label>
              </div>
            </div>
          </div>



        </div>
        <div class="col-md-5">

          <div class="row">
            <div class="col-md-3">
              <%= f.label :home_phone %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :home_phone, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :work_phone %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :work_phone, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :mobile_phone %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :mobile_phone, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :occupation %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :occupation, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :employer %><br>
            </div>
            <div class="col-md-8">
              <div class='input-group employer'>
                <%= text_field_tag :employer, @employer.nil? ? "Click to search ->" : @employer.name, class: 'form-control', disabled: true %>
                <%= f.hidden_field :employer_id %>
                <span class="input-group-addon"><span id='linkAddOrganization' data-alias="employer" class="glyphicon glyphicon-search"></span></span>
                <span class="input-group-addon"><span id='linkRemoveOrganization' data-alias="employer" class="glyphicon glyphicon-remove"></span></span>
              </div>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col-md-8 col-md-offset-3">
              <div class="checkbox">
                <label>
                  <%= f.check_box :primary_employer_contact %> Primary employer contact
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :church %><br>
            </div>
            <div class="col-md-8">
              <div class='input-group church'>
                <%= text_field_tag :church, @church.nil? ? "Click to search ->" : @church.name, class: 'form-control', disabled: true %>
                <%= f.hidden_field :church_id %>
                <span class="input-group-addon"><span id='linkAddOrganization' data-alias="church" class="glyphicon glyphicon-search"></span></span>
                <span class="input-group-addon"><span id='linkRemoveOrganization' data-alias="church" class="glyphicon glyphicon-remove"></span></span>
              </div>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col-md-8 col-md-offset-3">
              <div class="checkbox">
                <label>
                  <%= f.check_box :primary_church_contact %> Primary church contact
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :notes %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_area :notes, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :interests %><br>
            </div>
            <div class="col-md-8">
              <%= f.select :interest_ids, option_groups_from_collection_for_select(InterestCategory.all, :interests, :name, :id, :option_formatter, f.object.interest_ids), {}, { :multiple => true, class: "form-control"}  %>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :volunteer_categories %><br>
            </div>
            <div class="col-md-8">
              <%= f.select :volunteer_category_ids, options_from_collection_for_select(VolunteerCategory.all, :id, :option_formatter, f.object.volunteer_category_ids), {}, { :multiple => true, class: "form-control"}  %>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col-md-10">
              <div class="checkbox">
                <label>
                  <%= f.check_box :agree_to_background_check %> Agreed to background check
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :background_check %><br>
            </div>
            <div class="col-md-4">
              <%= f.text_field :background_check_date,  value: @volunteer.background_check_date.nil? ? "" : @volunteer.background_check_date.strftime("%m/%d/%Y") , id: 'backgroundcheckdatepicker', class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :medical_conditions %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_area :medical_conditions, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= f.label :limitations, "Physical limitations" %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_area :limitations, class: 'form-control' %>
            </div>
          </div>
            <%= f.hidden_field :pending_volunteer_id, value: (@pending_volunteer.nil? ? nil: @pending_volunteer.id) %>
       </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="pull-right">
          <%= render partial: "shared/form_actions", locals: {f: f} %>
          <%= if @object.persisted?
                link_to "Merge", "#", id:"linkMergeVolunteer", class: "btn btn-primary"
              end %>
          <%= f.submit "Waivers", name: "to_waivers", class: "btn btn-primary" %>
          <%= if current_user.donations_allowed
                f.submit "Donations", name: "to_donations", class: "btn btn-primary"
              end %>
          <%= f.submit "Contacts", name: "to_contacts", class: "btn btn-primary" %>
        </div>
      </div>
    </div>


<% end %>

<div id="dialogAddressCheck"></div>
<div id="dialogSearchOrganizations"></div>
<div id="dialogSelectOrganization"></div>
<div id="dialogNewOrganization"></div>
<div id="dialogSearchMergeVolunteers"></div>
<div id="dialogSelectMergeVolunteer"></div>

