<%= form_for(@object, :url => {:action => "merge"}, method: :post) do |f| %>
    <%= @object = f.object
        render 'shared/error_messages' %>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-1">
        <div class="row">
          <div class="col-xs-4">
            <h3>Source Volunteer Data</h3>
          </div>
          <div class="col-xs-2">
            <h3><u>Use</u></h3>
          </div>
          <div class="col-xs-4">
            <h3>Merge Into Volunteer Data</h3>
          </div>

        </div>
        <% [:first_name, :middle_name, :last_name, :occupation, :address, :city, :state, :zip, :email, :home_phone, :work_phone, :mobile_phone, :remove_from_mailing_list].each do |field| %>
            <div class="row">
              <div class="col-xs-1">
                <%= label_tag field %>
              </div>
              <div class="col-xs-3">
                <%= content_tag(:span, @source_volunteer.send(field), id: "source_volunteer_#{field}", class: "form-control") %>
              </div>
              <div class="col-xs-2">
                <%= check_box_tag("source_use_fields[]",Volunteer.merge_fields_table[field], (field.to_s != "remove_from_mailing_list" && !@source_volunteer.send(field).blank?) || (field.to_s == "remove_from_mailing_list" && !@source_volunteer.remove_from_mailing_list?), {id: "use_#{field}", class: "form-control"}) %>
              </div>
              <div class="col-xs-1">
                <%= label_tag field %>
              </div>
              <div class="col-xs-3">
                <%= content_tag(:span, @object.send(field), id: "volunteer_#{field}", class: "form-control") %>
              </div>
            </div>
        <% end %>
        <% [:waiver_date, :background_check_date, :first_contact_date].each do |field| %>
            <div class="row">
              <div class="col-xs-1">
                <%= label_tag field %>
              </div>
              <div class="col-xs-3">
                <%= content_tag(:span,  @source_volunteer.send(field).nil? ? "" :  @source_volunteer.send(field).strftime("%m/%d/%Y"), id: "source_volunteer_#{field}", class: "form-control") %>
              </div>
              <div class="col-xs-2">
                <%= check_box_tag("source_use_fields[]",Volunteer.merge_fields_table[field], !@source_volunteer.send(field).blank?, {id: "use_#{field}", class: "form-control"}) %>
              </div>
              <div class="col-xs-1">
                <%= label_tag field %>
              </div>
              <div class="col-xs-3">
                <%= content_tag(:span, @object.send(field).nil? ? "" :  @object.send(field).strftime("%m/%d/%Y"), id: "volunteer_#{field}", class: "form-control") %>
              </div>
            </div>
        <% end %>
        <% [{ field: :first_contact_type_id, class: "ContactType", name: :first_contact_type },
            { field: :church_id, class: "Organization", name: :church },
            { field: :employer_id, class: "Organization", name: :employer }].each do |f| %>
            <div class="row">
              <div class="col-xs-1">
                <%= label_tag f[:name] %>
              </div>
              <div class="col-xs-3">
                <%= content_tag(:span,  @source_volunteer.send(f[:field]).nil? ? "" :  f[:class].constantize.find(@source_volunteer.send(f[:field])).name, id: "source_volunteer_#{f[:field]}", class: "form-control") %>
              </div>
              <div class="col-xs-2">
                <%= check_box_tag("source_use_fields[]",Volunteer.merge_fields_table[f[:field]], !@source_volunteer.send(f[:field]).blank?, {id: "use_#{f[:field]}", class: "form-control"}) %>
              </div>
              <div class="col-xs-1">
                <%= label_tag f[:name] %>
              </div>
              <div class="col-xs-3">
                <%= content_tag(:span,  @object.send(f[:field]).nil? ? "" :  f[:class].constantize.find(@object.send(f[:field])).name, id: "volunteer_#{f[:field]}", class: "form-control") %>
              </div>
            </div>
        <% end %>
        <div class="row">
          <div class="col-xs-1">
            <%= label_tag :notes %>
          </div>
          <div class="col-xs-3">
            <%= text_area_tag(:source_volunteer_notes, @source_volunteer.notes, class: "form-control", rows: "4", disabled: "disabled") %>
          </div>
          <div class="col-xs-2">
            <%= select_tag(:use_notes, options_for_select([ "Prepend", "Append", "Replace", "Ignore" ], "Append"), {class: "form-control"}) %>
          </div>
          <div class="col-xs-1">
            <%= label_tag :notes %>
          </div>
          <div class="col-xs-3">
            <%= text_area_tag(:volunteer_notes, @object.notes, class: "form-control", rows: "4", disabled: "disabled") %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1">
            <%= label_tag :interests %>
          </div>
          <div class="col-xs-3">
            <%= select_tag(:source_volunteer_interest_ids, option_groups_from_collection_for_select(InterestCategory.all, :interests, :name, :id, :option_formatter, @source_volunteer.interest_ids), { :multiple => true, class: "form-control read-only"})  %>
          </div>
          <div class="col-xs-2">
            <%= select_tag(:use_interests, options_for_select([ "Add", "Replace", "Ignore" ], "Add"), {class: "form-control"}) %>
          </div>
          <div class="col-xs-1">
            <%= label_tag :interests %>
          </div>
          <div class="col-xs-3">
            <%= select_tag(:interest_ids, option_groups_from_collection_for_select(InterestCategory.all, :interests, :name, :id, :option_formatter, @object.interest_ids), { :multiple => true, class: "form-control read-only"})  %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1">
            <%= label_tag :volunteer_categories %>
          </div>
          <div class="col-xs-3">
            <%= select_tag(:source_volunteer_category_ids, options_from_collection_for_select(VolunteerCategory.all, :id, :option_formatter, @source_volunteer.volunteer_category_ids), { :multiple => true, class: "form-control read-only"})  %>
          </div>
          <div class="col-xs-2">
            <%= select_tag(:use_categories, options_for_select([ "Add", "Replace", "Ignore" ], "Add"), {class: "form-control"}) %>
          </div>
          <div class="col-xs-1">
            <%= label_tag :volunteer_categories %>
          </div>
          <div class="col-xs-3">
            <%= select_tag(:volunteer_category_ids, options_from_collection_for_select(VolunteerCategory.all, :id, :option_formatter, @object.volunteer_category_ids), { :multiple => true, class: "form-control read-only"})  %>
          </div>
        </div>
      </div>
    </div>

    <%= hidden_field_tag :source_id, @source_volunteer.id %>

    <div class="actions pull-right">
      <%= f.submit "Merge", class: "btn btn-primary" %>
      <%= link_to 'Cancel', volunteers_path, class: "btn btn-primary" %>
    </div>


<% end %>
