<div class="row clickable" href="<%=edit_volunteer_path(volunteer)%>">
  <li>
    <div class="col-md-2">
      <% if volunteer.remove_from_mailing_list? %>
          <s>
      <% end %>
      <%= volunteer.first_name + " " + volunteer.last_name %>
      <% if volunteer.remove_from_mailing_list? %>
          </s>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= volunteer.city %>
    </div>
    <div class="col-md-2">
      <span class="no-overflow"><%= volunteer.email %></span>
    </div>
    <div class="col-md-2">
      <%= volunteer.home_phone.presence || volunteer.mobile_phone.presence || volunteer.work_phone.presence %>
    </div>
    <div class="col-md-2">
      <%= @last_workdate[volunteer.id].nil? ? "" : @last_workdate[volunteer.id].strftime("%m/%d/%Y") %>
    </div>
    <div class="col-md-2">
      <%= link_to 'New Contact', new_contact_path(volunteer_id: volunteer.id), target: "_blank" %>
    </div>
  </li>
</div>
