<% provide(:title, @class_name.titleize.pluralize) %>

<h1><%= @class_name.titleize.pluralize %></h1>
<h2>Resolving <%= @pending_volunteer.name %></h2>

<div class="col-md-10 col-md-offset-1">

  <div class="col-md-2">
    <%= @pending_volunteer.name %>
  </div>
  <div class="col-md-3">
    <%= @pending_volunteer.address %>
  </div>
  <div class="col-md-2">
    <%= @pending_volunteer.city %>
  </div>
  <div class="col-md-2">
    <%= @pending_volunteer.email %>
  </div>
</div>

<% if @matched_volunteers.count < 1 %>
    <span>No matching volunteers found. Click 'New Volunteer' to create new record.</span>
<% else %>


<div class="container scrolled-listing">

    <ul class="listing">
      <% @matched_volunteers.each do |id, mv|
            @volunteer = mv[:volunteer] %>
      <%=   render partial: "volunteers/matching_volunteer" %>
      <% end %>
    </ul>
</div>
<% end %>



<div class="actions pull-right">
    <%= link_to "New Volunteer", new_volunteer_path, class: "btn btn-primary" %>
    <%= link_to 'Back', pending_volunteers_path, class: "btn btn-primary" %>
</div>