<tr class="hide_on_remove">
  <td><%= if f.object.guardian_id
            @guardian = Volunteer.find(f.object.guardian_id)
            if @guardian
              link_to @guardian.name, @guardian
            else
              label_tag "Record Missing"
            end
          else
            label_tag :signer, @parent ? @parent.name : parent.name
          end
          %></td>
  <td>
    <div class="field">
      <div class='input-group date' >
        <%= f.text_field :date_signed,  value: f.object.date_signed.nil? ? Date.today.strftime("%m/%d/%Y") : f.object.date_signed.strftime("%m/%d/%Y"), readonly: @readonly, id: 'signeddatepicker', autofocus: 'true' %>
      </div>
    </div>
  </td>
  <td><%= f.text_field :birthdate, value: (f.object.birthdate && f.object.birthdate.strftime("%m/%d/%Y")), readonly: @readonly, id: 'birthdatepicker'%></td>
  <td><%= f.check_box :adult, readonly: @readonly %></td>
  <td><%= f.check_box :e_sign, readonly: @readonly  %></td>
  <td><%= f.text_area :waiver_text, readonly: @readonly  %></td>
  <td><%= f.hidden_field :_destroy %>
  <%= link_to "remove", "#", class: "remove_fields" %></td>
</tr>
