<p id="notice"><%= notice %></p>

<p>
  <strong>Volunteer:</strong>
  <%= @waiver.volunteer_id %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= @waiver.guardian_id %>
</p>

<p>
  <strong>Over 18:</strong>
  <%= @waiver.adult %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @waiver.birthdate %>
</p>

<p>
  <strong>Date signed:</strong>
  <%= @waiver.date_signed %>
</p>

<p>
  <strong>Waiver text:</strong>
  <%= @waiver.waiver_text %>
</p>

<p>
  <strong>E sign:</strong>
  <%= @waiver.e_sign %>
</p>

<%= link_to 'Edit', edit_waiver_path(@waiver) %> |
<%= link_to 'Back', waivers_path %>
