<div class="actions">
  <% if !f.object.readonly? %>
      <%= f.submit @submit_name, class: "btn btn-primary" %>
      <%= if @allow_stay
            f.submit "Save & Stay", name: "stay", class: "btn btn-primary"
          end %>
      <%= if @custom_submit
            f.submit @custom_submit, name: @custom_submit_name, class: "btn btn-primary"
          end %>
      <% if ((defined?(non_admin_delete) && non_admin_delete) || (!current_user.nil? && current_user.admin?)) && f.object.persisted? && !@no_delete %>
          <%= link_to "Delete", f.object, method: :delete,
                      data: { confirm: @delete_confirm.presence || "Are you sure?" }, class: "btn btn-primary" %>
      <% end %>
  <% end %>
  <%= link_to 'Cancel', defined?(cancel) ? cancel : root_path, onclick: defined?(cancel_onclick) ? cancel_onclick : "", class: "btn btn-primary" %>

</div>
