<% provide(:title, @class_name.titleize.pluralize) %>

<h1>All <%= @class_name.titleize.pluralize %></h1>

<div class="<%= @paginate ? "container" : "container scrolled-listing" %>">

  <% if @objects.count > 0 %>
      <ul class="listing">
        <% if template.exists?('object',[],true) %>
            <%= render partial: "object", collection: @objects, as: :object %>
        <% else %>
            <%= render partial: "shared/object", collection: @objects, as: :object %>
        <% end %>

      </ul>
  <% else %>
      <span> No <%= @class_name.tableize.humanize(capitalize: false) %> found. <% unless @no_new %> Click New to create one. <% end %> </span>
  <% end %>

  <% if @paginate %>
      <%= will_paginate @objects %>
  <% end %>

</div>

<div class="actions pull-right">
  <%= unless @no_new
        link_to "New #{@class_name.titleize}", url_for(controller: @class_name.underscore.pluralize, action: "new"), class: "btn btn-primary"
      end %>
  <%= link_to 'Back', root_path, class: "btn btn-primary" %>
</div>