<%= form_for(@object, url: settings_update_path(@object), html: { method: :patch }) do |f| %>
  <%= @object = f.object
      render 'shared/error_messages' %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="field">
        <%= f.label :site_title %><br>
        <%= f.text_field :site_title, class: 'form-control', autofocus: 'true' %>
      </div>
      <div class="field">
        <%= f.label "Organization Title" %><br>
        <%= f.text_field :org_title, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Organization Short Title" %><br>
        <%= f.text_field :org_short_title, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Organization URL" %><br>
        <%= f.text_field :org_site, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Old System URL" %><br>
        <%= f.text_field :old_system_site, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Old System Name" %><br>
        <%= f.text_field :old_system_name, class: 'form-control' %>
      </div>
      <div class="checkbox">
        <label>
          <%= f.check_box :no_pagination %> Scrolling Record Lists
        </label>
      </div>
      <div class="field">
        <%= f.label :records_per_page %><br>
        <%= f.text_field :records_per_page, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Minimum Password Length" %><br>
        <%= f.text_field :min_password_length, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Adult Age (for waivers)" %><br>
        <%= f.text_field :adult_age, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Number Of Days Waivers Are Valid" %><br>
        <%= f.text_field :waiver_valid_days, class: 'form-control' %>
      </div>
      <div class="checkbox">
        <label>
          <%= f.check_box :waivers_at_checkin %> Sign waivers at workday check-in
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= f.check_box :allow_waiver_skip %> Allow skipping waiver at check-in
        </label>
      </div>
      <div class="field">
        <%= f.label "Waiver Text" %><br>
        <%= f.submit "Update Waiver Text", name: "to_waivers", class: "btn btn-primary form-control" %>
      </div>
      <div class="field">
        <%= f.label "Send new pending volunteer notifications to emails(s)" %><br>
        <%= f.text_field :pending_volunteer_notify_email, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Outgoing e-mail account login" %><br>
        <%= f.text_field :email_account, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Outgoing e-mail account password" %><br>
        <%= f.password_field :email_password, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Outgoing SMTP server" %><br>
        <%= f.text_field :smtp_server, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Outgoing SMTP port" %><br>
        <%= f.text_field :smtp_port, class: 'form-control' %>
      </div>
      <div class="checkbox">
        <label>
          <%= f.check_box :smtp_starttls %> Use SMTP StartTLS
        </label>
      </div>




      <div class="pull-right">
        <%= render partial: "shared/form_actions", locals: {f: f} %>
      </div>
    </div>
  </div>

<% end %>
