<p id="notice"><%= notice %></p>

<p>
  <strong>Date time:</strong>
  <%= @contact.date_time %>
</p>

<p>
  <strong>Contact method:</strong>
  <%= @contact.contact_method_id %>
</p>

<p>
  <strong>Volunteer:</strong>
  <%= @contact.volunteer_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
