<tr class="hide_on_remove">
  <td>
    <div class="field">
      <div class='input-group date' >
        <%= f.text_field :date_received,  value: f.object.date_received.nil? ? Date.today.strftime("%m/%d/%Y") : f.object.date_received.strftime("%m/%d/%Y"), id: 'receiveddatepicker', autofocus: 'true' %>
      </div>
    </div>
  </td>
  <td>
    <%= donation_types = DonationType.where(inactive: false)
        donation_types = donation_types.where(non_monetary: true) if current_user.non_monetary
        f.select :donation_type_id, options_from_collection_for_select(donation_types, :id, :name, f.object.donation_type_id), {}, { :multiple => false, class: "form-control"}  %>
  </td>
  <td><%= f.text_field :ref_no %></td>
  <td><%= f.text_field :value,  value: number_with_precision(f.object.value, precision: 2)%></td>
  <td><%= f.text_field :item %></td>
  <td><%= f.text_field :in_honor_of %></td>
  <td><%= f.text_field :designation %></td>
  <td><%= f.text_area :notes %></td>
  <td><%= f.check_box :anonymous %></td>
  <td><%= f.check_box :receipt_sent %></td>
  <td><%= f.hidden_field :_destroy %>
  <%= link_to "remove", "#", class: "remove_fields" %></td>
</tr>
