<div class="row clickable" href="<%= url_for controller: @class_name.underscore.pluralize, id: object.id, action: :edit %>">
  <li>
    <div class="col-md-10 col-md-offset-1">

      <div class="col-md-3">
        <% if object.inactive? %>
          <s>
        <% end %>
        <%= object.name %>
        <% if object.inactive? %>
          </s>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= object.description %>
      </div>
      <div class="col-md-3">
        <%= object.last_workday.nil? ? "" : "Last workday #{object.last_workday.workdate.strftime("%m/%d/%Y")}" %>
      </div>

      <% if @inactive_switch %>
        <div class="hidden inactive_marker" data-inactive=<%= object.inactive? ? "inactive" : "" %> >
        </div>
      <% end %>

    </div>
  </li>
</div>
