<% provide(:title, 'Projects') %>

<h1>All Projects</h1>

<div class="<%= NO_PAGINATION.blank? ? "container" : "container scrolled-listing" %>">

  <ul class="listing">
    <%= render @projects %>
  </ul>

  <% if NO_PAGINATION.blank? %>
      <%= will_paginate %>
  <% end %>

</div>

<div class="actions pull-right">
  <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
  <%= link_to 'Back', root_path, class: "btn btn-primary" %>
</div>