<%= form_for(@interest_category) do |f| %>
  <%= @object = f.object
      render 'shared/error_messages' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control', autofocus: 'true' %>
    </div>
    <div class="pull-right">
      <%= render partial: "shared/form_actions", locals: {f: f} %>
    </div>
  </div>
</div>

<% end %>
