<%= form_for(@organization) do |f| %>
    <%= @object = f.object
        render 'shared/error_messages' %>
    <% if @num_workdays.count > 0 %>
        <h5 class="center">Has participated in <a href="#" data-id="<%= @organization.id %>" data-object-name="organization" id="linkWorkdaySummary"><%= pluralize(@num_workdays.count, "workday") %> </a></h5>
        <div id="dialogWorkdaySummary"></div>
    <% else %>
        <h5 class="center">Has not participated in any workdays</h5>
    <% end %>
    <% if current_user.donations_allowed %>
        <% if !@donation_year.nil? %>
            <h5 class="center">Organization has <a href="#" data-id="<%= @organization.id %>" data-object-name="organization" id="linkDonationSummary"> donated </a></h5>
            <div id="dialogDonationSummary"></div>
        <% else %>
            <h5 class="center">Organization has not donated</h5>
        <% end %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">

          <div class="row">
            <div class="col-md-2">
              <%= f.label :name %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :name, class: 'form-control', autofocus: 'true' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :organization_type %><br>
            </div>
            <div class="col-md-8">
              <%= f.select :organization_type_id, options_from_collection_for_select(OrganizationType.where(inactive: false), :id, :name, f.object.organization_type_id), {}, { :multiple => false, class: "form-control"}  %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :address %><br>
              <%= link_to "(check)", "#", id:"linkAddressCheck" %>
            </div>
            <div class="col-md-8">
              <%= f.text_field :address, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :city %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :city, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :state %><br>
            </div>
            <div class="col-md-2">
              <%= f.text_field :state, class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= f.label :zip %><br>
            </div>
            <div class="col-md-4">
              <%= f.text_field :zip, class: 'form-control' %>
            </div>
          </div>


        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-2">
              <%= f.label :contact_name %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :contact_name, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :email %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :phone %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <%= f.label :notes %><br>
            </div>
            <div class="col-md-8">
              <%= f.text_area :notes, class: 'form-control' %>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col-md-10">
              <div class="checkbox">
                <label>
                  <%= f.check_box :remove_from_mailing_list %> Remove from mailing list
                </label>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="pull-right">
          <%= render partial: "shared/form_actions", locals: {f: f} %>
          <%= if current_user.donations_allowed
                f.submit "Donations", name: "to_donations", class: "btn btn-primary"
              end %>
        </div>
      </div>
    </div>


<% end %>

<div id="dialogAddressCheck"></div>
