<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Organization Type</Data></Cell>
        <Cell><Data ss:Type="String">Contact Name</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">City</Data></Cell>
        <Cell><Data ss:Type="String">State</Data></Cell>
        <Cell><Data ss:Type="String">Zip</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Notes</Data></Cell>
      </Row>
      <% @organizations.each do |organization| %>
          <Row>
            <Cell><Data ss:Type="String"><%= organization.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.organization_type_id.nil?  ? "" : OrganizationType.find(organization.organization_type_id).name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.contact_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.address %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.city %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.state %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.zip %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= organization.notes %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>