<%= form_for(@workday) do |f| %>
    <%= @object = f.object
        render 'shared/error_messages' %>

    <table class="table no-row-border header-border">
      <thead>
      <tr>
        <th class="col-md-3">Volunteer</th>
        <th class="col-md-2">Start Time</th>
        <th class="col-md-2">End Time</th>
        <th class="col-md-2">Total Hours</th>
        <th class="col-md-2">Notes</th>
        <th class="col-md-1"></th>
      </tr>
      </thead>
      <tbody class="add_volunteer_fields">
      <%= f.fields_for :workday_volunteers do |builder| %>
          <%= render "workday_volunteer_fields", :f => builder, :volunteer => Volunteer.find(builder.object.volunteer_id) %>
      <% end %>
      </tbody>
    </table>

    <%= # link_to_add_fields "Add a Volunteer", f, :workday_volunteers, "", ".add_fields", "Add a Volunteer"
        link_to "Add a Volunteer", "#", id:"linkAddVolunteer" %>

    <div>&nbsp;</div>

    <table class="table no-row-border header-border">
      <thead>
      <tr>
        <th class="col-md-3">Organization</th>
        <th class="col-md-2">Num Volunteers</th>
        <th class="col-md-2">Start Time</th>
        <th class="col-md-2">End Time</th>
        <th class="col-md-2">Total Hours</th>
        <th class="col-md-2">Notes</th>
        <th class="col-md-1"></th>
      </tr>
      </thead>
      <tbody class="add_organization_fields">
      <%= f.fields_for :workday_organizations do |builder| %>
          <%= render "workday_organization_fields", :f => builder, :organization => Organization.find(builder.object.organization_id) %>
      <% end %>
      </tbody>
    </table>

    <%= # link_to_add_fields "Add an Organization", f, :workday_organizations, "", ".add_fields", "Add an Organization"
        link_to "Add an Organization", "#", id:"linkAddOrganization" %>

    <div class="row">
      <div class="col-md-11">
        <div class="actions pull-right">
          <!-- TODO: Figure out whether I need to duplicate form_actions partial here to properly position the additional button. -->
          <%= link_to({ :action => "confirm_launch_self_tracking" }, :class => "btn btn-primary") do %>
            <span class="glyphicon glyphicon-list-alt"></span>  Launch Self Tracking...
          <% end %>

          <%= f.hidden_field(:project_id) %>
          <%= render partial: "shared/form_actions", locals: {f: f, cancel: workdays_path(project_id: @project.id)} %>
        </div>
      </div>
    </div>

<% end %>
