<%= form_for(@workday) do |f| %>
    <%= @object = f.object
        render 'shared/error_messages' %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :workdate %><br>
          <div class='input-group date' id='workdatepicker'>
            <input type='text' value="<%= @workday.workdate.nil? ? Date.today.strftime("%m/%d/%Y") : @workday.workdate.strftime("%m/%d/%Y") %>" name="workday[workdate]" id="workday_workdate" class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
        <%= f.hidden_field(:project_id) %>
        <%= render partial: "shared/form_actions", locals: {f: f, cancel: workdays_path(project_id: @project.id)} %>
      </div>
    </div>

<% end %>
