<tr>
  <td><%= "Volunteer Name" %></td>
  <td><%= f.text_field :start_time %></td>
  <td><%= f.text_field :end_time %></td>
  <td><%= f.text_field :hours %></td>
  <td><%= link_to "remove", "#", class: "remove_fields" %></td>
</tr>
