<tr>
  <td><%= volunteer.first_name + " " + volunteer.last_name %></td>
  <td><%= f.text_field :start_time %></td>
  <td><%= f.text_field :end_time %></td>
  <td><%= f.text_field :hours %></td>
  <td><%= f.hidden_field :volunteer_id, value: volunteer.id %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "remove", "#", class: "remove_fields" %></td>
</tr>
