<% provide(:title, 'Workdays') %>

<h1>Workdays</h1>
<h4 class="center"><%= @project.name %> - Choose a workday or create a new one</h4>


<% if @workdays.count > 0 %>
    <ul class="listing">
      <%= render @workdays %>
    </ul>
<% else %>
    <p>No workdays found. Click New to create one.</p>
<% end %>

<%= will_paginate %>

<div class="actions">
  <%= link_to 'New Workday', new_workday_path({project_id: @project.id}), class: "btn btn-primary" %>
  <%= link_to 'Back', root_path, class: "btn btn-primary" %>
</div>