<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% got_info = false %>
      <% @project_info.each do |project| %>
          <% got_info = true %>
          <Row>
            <Cell><Data ss:Type="String">Project: <%= Project.find(project.project_id).name %></Data></Cell>
          </Row>
          <Row></Row>
          <Row>
            <Cell><Data ss:Type="String">Distinct Project Volunteers: <%= project.num_volunteers %></Data></Cell>
            <Cell><Data ss:Type="String">Project Volunteer Shifts: <%= project.num_shifts %></Data></Cell>
            <Cell><Data ss:Type="String">Project Volunteer Hours: <%= project.total_volunteer_hours %></Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Volunteer</Data></Cell>
            <Cell><Data ss:Type="String">City</Data></Cell>
            <Cell><Data ss:Type="String">Email</Data></Cell>
            <Cell><Data ss:Type="String">Hours</Data></Cell>
          </Row>

          <% @volunteers.select { |v| v.project_id == project.project_id }.each do |volunteer_info| %>
              <% volunteer = Volunteer.find(volunteer_info.volunteer_id) %>
              <Row>
                <Cell><Data ss:Type="String"><%= volunteer.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= volunteer.city %></Data></Cell>
                <Cell><Data ss:Type="String"><%= volunteer.email %></Data></Cell>
                <Cell><Data ss:Type="String"><%= volunteer_info.hours %></Data></Cell>
              </Row>
          <% end %>
          <Row></Row>
          <Row>
            <Cell><Data ss:Type="String">Distinct Project Organizations: <%= project.num_organizations %></Data></Cell>
            <Cell><Data ss:Type="String">Project Organization Hours: <%= project.total_organization_hours %></Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Organization</Data></Cell>
            <Cell><Data ss:Type="String">City</Data></Cell>
            <Cell><Data ss:Type="String">Contact Name</Data></Cell>
            <Cell><Data ss:Type="String">Email</Data></Cell>
            <Cell><Data ss:Type="String">Hours</Data></Cell>
          </Row>

          <% @organizations.select { |v| v.project_id == project.project_id }.each do |organization_info| %>
              <% organization = Organization.find(organization_info.organization_id) %>
              <Row>
                <Cell><Data ss:Type="String"><%= organization.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= organization.city %></Data></Cell>
                <Cell><Data ss:Type="String"><%= organization.contact_name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= organization.email %></Data></Cell>
                <Cell><Data ss:Type="String"><%= organization_info.hours %></Data></Cell>
              </Row>
          <% end %>
          <Row></Row>

      <% end %>
      <% if !got_info %>
          <Row>
            <Cell><Data ss:Type="String">No participants found meeting the criteria given</Data></Cell>
          </Row>
      <% else %>
          <Row>
            <Cell><Data ss:Type="String">Report Totals</Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Distinct Volunteers:</Data></Cell><Cell><Data ss:Type="String"><%= @report_info["num_volunteers"] %></Data></Cell> <Cell><Data ss:Type="String">Volunteer Shifts:</Data></Cell> <Cell><Data ss:Type="String"><%= @report_info["num_shifts"] %> Volunteer Hours:</Data></Cell> <Cell><Data ss:Type="String"><%= @report_info["total_volunteer_hours"] %></Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Distinct Organizations:</Data></Cell><Cell><Data ss:Type="String"><%= @report_info["num_organizations"] %></Data></Cell> <Cell><Data ss:Type="String">Organization Hours:</Data></Cell> <Cell><Data ss:Type="String"><%= @report_info["total_organization_hours"] %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>