<% provide(:title, 'Workdays by Project') %>
<h1>Workdays by Projects</h1>

<% got_info = false %>

<% @project_info.each do |project| %>
    <% got_info = true %>
    <h4>Project: <%= Project.find(project.project_id).name %></h4>
    <h5>Distinct Project Volunteers: <%= project.num_volunteers %>,  Project Hours: <%= project.total_hours %></h5>

    <ul class="listing">
      <div class="row">
        <li>
          <div class="col-md-2 col-md-offset-1">
            <u>Workday</u>
          </div>
          <div class="col-md-3">
            <u>Date</u>
          </div>
          <div class="col-md-2">
            <u>Hours</u>
          </div>
          <div class="col-md-2">
            <u>Volunteers</u>
          </div>
        </li>
      </div>

      <% @workdays.select { |w| w.project_id == project.project_id }.each do |workday| %>
          <div class="row clickable" href="<%=add_volunteers_workday_path(workday, project_id: project.project_id)%>">
            <li>
              <div class="col-md-2 col-md-offset-1">
                <%= workday.name %>
              </div>
              <div class="col-md-3">
                <%= workday.workdate.strftime("%A, %B %-d, %Y") %>
              </div>
              <div class="col-md-2">
                <%= workday.hours %>
              </div>
              <div class="col-md-2">
                <%= workday.volunteers %>
              </div>
            </li>
          </div>
      <% end %>
    </ul>
    <br />
<% end %>
<% if !got_info %>
    <h4>No workdays found with the given criteria</h4>
<% end %>

<%= link_to 'Back', report_workdays_path, class: "btn btn-primary" %>

