<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% got_info = false %>
      <% @project_info.each do |project| %>
          <% got_info = true %>
          <Row>
            <Cell><Data ss:Type="String">Project: <%= Project.find(project.project_id).name %></Data></Cell>
            <Cell><Data ss:Type="String">Distinct Project Volunteers: <%= project.num_volunteers %></Data></Cell>
            <Cell><Data ss:Type="String">Volunteer Hours: <%= project.total_volunteer_hours %></Data></Cell>
            <Cell><Data ss:Type="String">Distinct Project Organizations: <%= project.num_organizations %></Data></Cell>
            <Cell><Data ss:Type="String">Organization Hours: <%= project.total_organization_hours %></Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Workday</Data></Cell>
            <Cell><Data ss:Type="String">Workdate</Data></Cell>
            <Cell><Data ss:Type="String">Volunteers</Data></Cell>
            <Cell><Data ss:Type="String">Volunteer Hours</Data></Cell>
            <Cell><Data ss:Type="String">Organizations</Data></Cell>
            <Cell><Data ss:Type="String">Organization Hours</Data></Cell>
          </Row>

          <% @workdays.select { |w| w.project_id == project.project_id }.each do |workday| %>
              <Row>
                <Cell><Data ss:Type="String"><%= workday.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= workday.workdate.strftime("%m/%d/%Y") %></Data></Cell>
                <Cell><Data ss:Type="String"><%= workday.volunteers %></Data></Cell>
                <Cell><Data ss:Type="String"><%= workday.volunteer_hours %></Data></Cell>
                <Cell><Data ss:Type="String"><%= workday.organizations %></Data></Cell>
                <Cell><Data ss:Type="String"><%= workday.organization_hours %></Data></Cell>
              </Row>
          <% end %>
          <Row></Row>
      <% end %>
      <% if !got_info %>
          <Row>
            <Cell><Data ss:Type="String">No workdays found meeting the criteria given</Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>