<% provide(:title, 'Hours by Participant') %>
<h1>Hours by Participant</h1>

<% got_info = false %>

<ul class="listing">
  <div class="row">
    <li>
      <div class="col-md-2 col-md-offset-1">
        <u>Volunteer</u>
      </div>
      <div class="col-md-3">
        <u>Phone</u>
      </div>
      <div class="col-md-3">
        <u>Email</u>
      </div>
      <div class="col-md-2">
        <u>Hours</u>
      </div>
    </li>
  </div>
  <% @volunteers.each do |volunteer_info| %>
      <% got_info = true %>

      <% volunteer = Volunteer.find(volunteer_info[:volunteer_id]) %>
      <div class="row clickable" href="<%=edit_volunteer_path(volunteer)%>">
        <li>
          <div class="col-md-2 col-md-offset-1">
            <span class="no-overflow"><%= volunteer.name %></span>
          </div>
          <div class="col-md-3">
            <span class="no-overflow"><%= volunteer.phone %></span>
          </div>
          <div class="col-md-3">
            <span class="no-overflow"><%= volunteer.email %></span>
          </div>
          <div class="col-md-2">
            <%= numeric_display(volunteer_info[:hours]) %>
          </div>
        </li>
      </div>
  <% end %>
</ul>


<ul class="listing">
  <div class="row">
    <li>
      <div class="col-md-2 col-md-offset-1">
        <u>Organization</u>
      </div>
      <div class="col-md-2">
        <u>Phone</u>
      </div>
      <div class="col-md-2">
        <u>Contact Name</u>
      </div>
      <div class="col-md-3">
        <u>Email</u>
      </div>
      <div class="col-md-2">
        <u>Hours</u>
      </div>
    </li>
  </div>

  <% @organizations.each do |organization_info| %>
      <% got_info = true %>
      <% organization = Organization.find(organization_info[:organization_id]) %>
      <div class="row clickable" href="<%=edit_organization_path(organization)%>">
        <li>
          <div class="col-md-2 col-md-offset-1">
            <span class="no-overflow"><%= organization.name %></span>
          </div>
          <div class="col-md-2">
            <span class="no-overflow"><%= organization.phone %></span>
          </div>
          <div class="col-md-2">
            <span class="no-overflow"><%= organization.contact_name %></span>
          </div>
          <div class="col-md-3">
            <span class="no-overflow"><%= organization.email %></span>
          </div>
          <div class="col-md-2">
            <%= organization_info[:hours].presence || "0" %>
          </div>
        </li>
      </div>
  <% end %>
</ul>
<br />

<% if !got_info %>
    <h4>No information found with the given criteria</h4>
<% end %>

<div class="row">
  <div class="col-md-11">
    <div class="actions pull-right">
      <%= link_to 'Back', report_workdays_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

