<% provide(:title, 'Volunteers by Project') %>
<h1>Volunteers by Projects</h1>

<% got_info = false %>

<% @project_info.each do |project| %>
    <% got_info = true %>
    <h4>Project: <%= Project.find(project.project_id).name %></h4>
    <h5>Distinct Project Volunteers: <%= project.num_volunteers %>,  Project Hours: <%= project.total_hours %></h5>

    <ul class="listing">
      <div class="row">
        <li>
          <div class="col-md-2 col-md-offset-1">
            <u>Volunteer</u>
          </div>
          <div class="col-md-3">
            <u>City</u>
          </div>
          <div class="col-md-2">
            <u>Email</u>
          </div>
          <div class="col-md-2">
            <u>Hours</u>
          </div>
        </li>
      </div>

      <% @volunteers.select { |v| v.project_id == project.project_id }.each do |volunteer_info| %>
          <% volunteer = Volunteer.find(volunteer_info.volunteer_id) %>
          <div class="row clickable" href="<%=edit_volunteer_path(volunteer)%>">
            <li>
              <div class="col-md-2 col-md-offset-1">
                <%= volunteer.name %>
              </div>
              <div class="col-md-3">
                <%= volunteer.city %>
              </div>
              <div class="col-md-2">
                <%= volunteer.email %>
              </div>
              <div class="col-md-2">
                <%= volunteer_info.hours %>
              </div>
            </li>
          </div>
      <% end %>
    </ul>
    <br />
<% end %>
<% if !got_info %>
    <h4>No volunteers found with the given criteria</h4>
<% end %>

<div class="row">
  <div class="col-md-11">
    <div class="actions pull-right">
      <%= link_to 'Back', report_workdays_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

