<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% got_info = false %>
      <% @project_info.each do |p| %>
          <% got_info = true %>
          <Row>
            <Cell><Data ss:Type="String">Project: <%= Project.find(p[:project_id]).name %></Data></Cell>
            <Cell><Data ss:Type="String">Distinct Project Volunteers: <%= p[:num_volunteers].presence || "0" %></Data></Cell>
            <Cell><Data ss:Type="String">Volunteer Shifts: <%= p[:num_shifts].presence || "0" %></Data></Cell>
            <Cell><Data ss:Type="String">Volunteer Hours: <%= p[:volunteer_hours].presence || "0" %></Data></Cell>
            <Cell><Data ss:Type="String">Distinct Project Organizations: <%= p[:num_organizations].presence || "0" %></Data></Cell>
            <Cell><Data ss:Type="String">Organization Hours: <%= p[:organization_hours].presence || "0" %></Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Workday</Data></Cell>
            <Cell><Data ss:Type="String">Workdate</Data></Cell>
            <Cell><Data ss:Type="String">Volunteer Shifts</Data></Cell>
            <Cell><Data ss:Type="String">Volunteer Hours</Data></Cell>
            <Cell><Data ss:Type="String">Organizations</Data></Cell>
            <Cell><Data ss:Type="String">Organization Hours</Data></Cell>
          </Row>

          <% @workdays.select { |wd| wd[:project_id] == p[:project_id] }.each do |w| %>
              <Row>
                <Cell><Data ss:Type="String"><%= w[:name] %></Data></Cell>
                <Cell><Data ss:Type="String"><%= w[:workdate].to_datetime.strftime("%m/%d/%Y") %></Data></Cell>
                <Cell><Data ss:Type="String"><%= w[:num_volunteers].presence || "0" %></Data></Cell>
                <Cell><Data ss:Type="String"><%= w[:volunteer_hours].presence || "0" %></Data></Cell>
                <Cell><Data ss:Type="String"><%= w[:num_organizations].presence || "0" %></Data></Cell>
                <Cell><Data ss:Type="String"><%= w[:organization_hours].presence || "0" %></Data></Cell>
              </Row>
          <% end %>
          <Row></Row>
      <% end %>
      <% if !got_info %>
          <Row>
            <Cell><Data ss:Type="String">No workdays found meeting the criteria given</Data></Cell>
          </Row>
      <% else %>
          <Row>
            <Cell><Data ss:Type="String">Report Totals</Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Distinct Volunteers:</Data></Cell><Cell><Data ss:Type="String"><%= @report_info[:num_volunteers].presence || "0" %></Data></Cell> <Cell><Data ss:Type="String">Volunteer Shifts:</Data></Cell> <Cell><Data ss:Type="String"><%= @report_info[:num_shifts] %> </Data></Cell> <Cell><Data ss:Type="String">Volunteer Hours:</Data></Cell> <Cell><Data ss:Type="String"><%= '%.1f' % (@report_info[:volunteer_hours].presence || "0").to_f %></Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Distinct Organizations:</Data></Cell><Cell><Data ss:Type="String"><%= @report_info[:num_organizations].presence || "0" %></Data></Cell> <Cell><Data ss:Type="String">Organization Hours:</Data></Cell> <Cell><Data ss:Type="String"><%= '%.1f' % (@report_info[:organization_hours].presence || "0").to_f %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>