<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% @project_info.each do |project| %>
          <Row>
            <Cell><Data ss:Type="String">Project: <%= Project.find(project.project_id).name %></Data></Cell>
            <Cell><Data ss:Type="String">Distinct Project Volunteers: <%= project.num_volunteers %></Data></Cell>
            <Cell><Data ss:Type="String">Project Hours: <%= project.total_hours %></Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Workday</Data></Cell>
            <Cell><Data ss:Type="String">Workdate</Data></Cell>
            <Cell><Data ss:Type="String">Workday Hours</Data></Cell>
            <Cell><Data ss:Type="String">Workday Volunteers</Data></Cell>
          </Row>

          <% @workdays.select { |w| w.project_id == project.project_id }.each do |workday| %>
              <Row>
                <Cell><Data ss:Type="String"><%= workday.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= workday.workdate %></Data></Cell>
                <Cell><Data ss:Type="String"><%= workday.hours %></Data></Cell>
                <Cell><Data ss:Type="String"><%= workday.volunteers %></Data></Cell>
              </Row>
          <% end %>
          <Row></Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>