<% provide(:title, 'Workdays by Project') %>
<h1>Workdays by Project</h1>

<% got_info = false %>

<% @project_info.each do |p| %>
    <% got_info = true %>
    <h4>Project: <%= Project.find(p[:project_id]).name %></h4>
    <h5>Distinct Project Volunteers: <%= p[:num_volunteers].presence || "0" %>, Volunteer Shifts: <%= p[:num_shifts].presence || "0" %>, Volunteer Hours: <%= numeric_display(p[:volunteer_hours]) %></h5>
    <h5>Distinct Project Organizations: <%= p[:num_organizations].presence || "0" %>, Organization Hours: <%= numeric_display(p[:organization_hours]) %></h5>

    <ul class="listing">
      <div class="row">
        <li class="header">
          <div class="col-md-2">
            <u>Workday</u>
          </div>
          <div class="col-md-3">
            <u>Date</u>
          </div>
          <div class="col-md-1">
            <u>Volunteer Shifts</u>
          </div>
          <div class="col-md-1">
            <u>Volunteer Hours</u>
          </div>
          <div class="col-md-1">
            <u>Organizations</u>
          </div>
          <div class="col-md-1">
            <u>Organization Hours</u>
          </div>
        </li>
      </div>

      <% @workdays.select { |w| w[:project_id] == p[:project_id] }.each do |w| %>
          <div class="row clickable" href="<%=add_participants_workday_path(Workday.find(w[:id]), project_id: p[:project_id]) %>">
            <li>
              <div class="col-md-2">
                <span class="no-overflow"><%= w[:name] %></span>
              </div>
              <div class="col-md-3">
                <%= w[:workdate].to_datetime.strftime("%A, %B %-d, %Y") %>
              </div>
              <div class="col-md-1">
                <%= w[:num_volunteers].presence || "0" %>
              </div>
              <div class="col-md-1">
                <%= numeric_display(w[:volunteer_hours]) %>
              </div>
              <div class="col-md-1">
                <%= w[:num_organizations].presence || "0" %>
              </div>
              <div class="col-md-1">
                <%= numeric_display(w[:organization_hours]) %>
              </div>
            </li>
          </div>
      <% end %>
    </ul>
    <br />
<% end %>
<% if !got_info %>
    <h4>No workdays found with the given criteria</h4>
<% else %>
    <h4><u>Report Totals</u></h4>
    <h4>Distinct Volunteers: <%= @report_info[:num_volunteers].presence || "0" %> Volunteer Shifts: <%= @report_info[:num_shifts].presence || "0" %> Volunteer Hours: <%= '%.1f' % (@report_info[:volunteer_hours].presence || "O").to_f %></h4>
    <h4>Distinct Organizations: <%= @report_info[:num_organizations].presence || "0" %> Organization Hours: <%= '%.1f' % (@report_info[:organization_hours].presence || "0").to_f %></h4>
<% end %>

<div class="row">
  <div class="col-md-11">
    <div class="actions pull-right">
      <%= link_to 'Back', report_workdays_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>


