<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <% got_info = false %>
      <% @project_info.each do |p| %>
          <% got_info = true %>
          <Row>
            <Cell><Data ss:Type="String">Project: <%= Project.find(p[:project_id]).name %></Data></Cell>
          </Row>
          <Row></Row>
          <% @project_volunteers = @volunteers.select { |v| v[:project_id] == p[:project_id] } %>
          <% if @project_volunteers.count > 0 %>

              <Row>
                <Cell><Data ss:Type="String">Distinct Project Volunteers: <%= p[:num_volunteers].presence || "0" %></Data></Cell>
                <Cell><Data ss:Type="String">Project Volunteer Shifts: <%= p[:num_shifts].presence || "0" %></Data></Cell>
                <Cell><Data ss:Type="String">Project Volunteer Hours: <%= numeric_display(p[:volunteer_hours]) %></Data></Cell>
              </Row>
              <Row>
                <Cell><Data ss:Type="String">Volunteer</Data></Cell>
                <Cell><Data ss:Type="String">City</Data></Cell>
                <Cell><Data ss:Type="String">Email</Data></Cell>
                <Cell><Data ss:Type="String">Hours</Data></Cell>
              </Row>

              <% @project_volunteers.each do |volunteer_info| %>
                  <% volunteer = Volunteer.find(volunteer_info[:volunteer_id]) %>
                  <Row>
                    <Cell><Data ss:Type="String"><%= volunteer.name %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= volunteer.city %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= volunteer.email %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= numeric_display(volunteer_info[:hours]) %></Data></Cell>
                  </Row>
              <% end %>
              <Row></Row>
          <% end %>
          <% @project_organizations = @organizations.select { |o| o[:project_id] == p[:project_id] } %>
          <% if @project_organizations.count > 0 %>
              <Row>
                <Cell><Data ss:Type="String">Distinct Project Organizations: <%= p[:num_organizations].presence || "0"  %></Data></Cell>
                <Cell><Data ss:Type="String">Project Organization Hours: <%= numeric_display(p[:organization_hours]) %></Data></Cell>
              </Row>
              <Row>
                <Cell><Data ss:Type="String">Organization</Data></Cell>
                <Cell><Data ss:Type="String">City</Data></Cell>
                <Cell><Data ss:Type="String">Contact Name</Data></Cell>
                <Cell><Data ss:Type="String">Email</Data></Cell>
                <Cell><Data ss:Type="String">Hours</Data></Cell>
              </Row>

              <% @project_organizations.each do |organization_info| %>
                  <% organization = Organization.find(organization_info[:organization_id]) %>
                  <Row>
                    <Cell><Data ss:Type="String"><%= organization.name %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= organization.city %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= organization.contact_name %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= organization.email %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= numeric_display(organization_info[:hours]) %></Data></Cell>
                  </Row>
              <% end %>
              <Row></Row>

          <% end %>
      <% end %>
      <% if !got_info %>
          <Row>
            <Cell><Data ss:Type="String">No participants found meeting the criteria given</Data></Cell>
          </Row>
      <% else %>
          <Row>
            <Cell><Data ss:Type="String">Report Totals</Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Distinct Volunteers:</Data></Cell><Cell><Data ss:Type="String"><%= @report_info[:num_volunteers].presence || "0" %></Data></Cell> <Cell><Data ss:Type="String">Volunteer Shifts:</Data></Cell> <Cell><Data ss:Type="String"><%= @report_info[:num_shifts].presence || "0" %></Data></Cell> <Cell><Data ss:Type="String">Volunteer Hours:</Data></Cell> <Cell><Data ss:Type="String"><%= '%.1f' % (@report_info[:volunteer_hours].presence || "0").to_f %></Data></Cell>
          </Row>
          <Row>
            <Cell><Data ss:Type="String">Distinct Organizations:</Data></Cell><Cell><Data ss:Type="String"><%= @report_info[:num_organizations].presence || "0" %></Data></Cell> <Cell><Data ss:Type="String">Organization Hours:</Data></Cell> <Cell><Data ss:Type="String"><%= '%.1f' % (@report_info[:organization_hours].presence || "0").to_f %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>