<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @workday.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @workday.project_id %>
</p>

<%= link_to 'Edit', edit_workday_path(@workday) %> |
<%= link_to 'Back', workdays_path %>
